* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding: 0 2vw;
    background-image: url("images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(4, 28, 49);
}

section {
    display: flex;
    flex-direction: column;
}

.static-div {
    flex: 2;
    text-align: center;
    justify-content: center;
}

h1 {
    font-family: "Calistoga", serif;
    font-size: 30px;
    border-bottom: 5px solid rgb(4, 28, 49);
    border-radius: 25px;
    padding: 0 3vw;
    margin: 3vw auto;
    letter-spacing: 0.05ch;
}

form {
    font-family: "Poppins", sans-serif;
    height: 50px;
    align-items: center;
}

input {
    height: 50%;
    width: 40%;
}

button {
    background-color: rgb(4, 28, 49);
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 80px;
    margin: 1vw;
    border: solid rgb(4, 28, 49) 3px;
    height: 75%;
}

#city {
    width: 35%;
}

.forecast-div {
    flex: 2;
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    align-items: center;
}

h2 {
    font-family: "Calistoga", serif;
    font-size: 25px;
    font-weight: 400;
}

.daily {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: center;
    justify-content: center;
    gap: 1vh;
}

.city {
    padding: 2vh 0;
    font-size: 20px;
}

.temperature {
    font-size: 40px;
}

.feels-like {
    margin: -1vw 0 0 10vw;
}

.weather-type {
    padding: 2vh 0;
    font-size: 20px;
}

.icon {
    padding-right: 8px;
}

.weekly {
    flex: 1;
}

.weekly-row {
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
    gap: 3vw;
}

.weekly-row div {
    text-align: center;
}

.week-day {
    padding-bottom: 5px;
}

footer {
    color: rgb(100, 100, 245);
    background-color: aliceblue;
    font-family: "Arvo", serif;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}